/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*#taskModal {
    position: fixed;
    inset: 0;  Esto asegura que el fondo cubra toda la pantalla 
    background-color: rgba(0, 0, 0, 0.5);  Fondo oscuro semi-transparente 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#modalContent {
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}*/

/* Estilos para el fondo del modal */
.modal-open {
    overflow: hidden;
}

/* Estilos del contenedor del modal para hacer scroll solo dentro del modal */
#modalContent {
    max-height: 80vh; /* O lo que prefieras */
    overflow-y: auto;
}
